*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 1720px;
    height: auto;
    justify-items: center;
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.lookbook, .lookbook2{
    position: relative;
}

.lookbook img{
    width: 700px;
    margin-top: 210px;
}

.lookbook2 img{
    width: 770px;
    margin-top: 210px;
}

.text{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(252, 252, 252);
    text-align: center;
}

.text h1{
    font-size: 40px;
}

