*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    height: 100%;
    color: white;
    background: linear-gradient(to right, #141e30, #243b55);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.navbar a:hover{
    color: rgb(106, 204, 243);
}

section{
    scroll-margin-top: 200px;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    margin-top: 10px;
    opacity: 0;
    animation: slideBottom .1s ease forwards;
    animation-delay: .7s;
}

@keyframes slideBottom{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.home-content h3:nth-of-type(2){
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span{
    color: #0ef;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    margin-top: 15px;
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}

@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transform: .5s ease;
    opacity: 0;
    animation: slideLeft .1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}

.home-sci a:hover{
    background-color: #0ef;
    color: black;
    box-shadow: 0 0 20px #0ef;
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 10px #0ef;
}

.btn-box:hover{
    box-shadow: 0 0 40px #0ef;
}

.img_background{
    max-width: 430px;
    height: 450px;
    background: transparent;
    border: 10px solid rgb(79, 230, 240);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 100px #0ef;
    opacity: 0;
    animation: slideBottom .1s ease forwards;
    animation-delay: .3s;
}

.img_background:hover{
    box-shadow: 0px 0px 200px rgb(1, 238, 255);
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 24px;
    margin-inline: 200px;
    margin-block: 50px;
}

.about .img_background{
    max-width: 430px;
    margin-bottom: 10%;
    height: 440px;
    width: 100%;
    border-radius: 50%;
}

.about h2{
    font-size: 60px;
}

.about h2 span{
    color: #0ef;
}

.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: white;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color: white;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 65px;
}

#services{
    color: white;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 65px;
}

.sub-title{
    text-align: center;
    font-size: 60px;
    padding-top: 20px;
}

.sub-title span{
    color: #0ef;
}

.container{
    padding: 150px;    
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, tranform 0.5s;
    box-shadow: 1px 1px 20px #0ef;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 10px #0ef;
}

.read:hover{
    box-shadow: 0 0 20px #0ef;
}

.services-list div:hover{
    transform: translateY(-10px);
}

section{
    display: flex;
    flex-wrap: wrap;
}

.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-top: 30px;
    margin-left: 200px;
    margin-bottom: 100px;
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    background: linear-gradient(to right, #fff, #0ef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bar{
    font-size: 23px;
}

.Technical-bars{
    width: 600px;
}

.Technical-bars .bar{
    margin-top: 12px;
    width: 100%;
}

.Technical-bars .bar:first-child{
    margin-top: 0;
}

.Technical-bars .bar:last-child{
    margin-bottom: 0;
}

.Technical-bars .bar .info{
    margin-bottom: 5px;
}

.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line{
    position: relative;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate{
    100%{
        transform: scale(1);
    }
}

.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span{
    width: 90%;
}

.progress-line.css span{
    width: 65%;
}

.progress-line.javascript span{
    width: 80%;
}

.progress-line.python span{
    width: 55%;
}

.progress-line.react span{
    width: 75%;
}

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: white;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after{
    content: "90%";
}

.progress-line.css span::after{
    content: "65%";
}

.progress-line.javascript ::after{
    content: "80%";
}

.progress-line.python span::after{
    content: "55%";
}

.progress-line.react span::after{
    content: "75%";
}

.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}

.radial-bars{
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between
}

.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
}

.radial-bars .radial-bar svg{
    width: 120px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stroke: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}

.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1{
    animation: animate-path1 1s 1s linear forwards;
}

.path-2{
    animation: animate-path2 1s 1s linear forwards;
}

.path-3{
    animation: animate-path3 1s 1s linear forwards;
}

.path-4{
    animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path2{
    100%{
        stroke-dashoffset: 150;
    }
}

@keyframes animate-path3{
    100%{
        stroke-dashoffset: 180;
    }
}

@keyframes animate-path4{
    100%{
        stroke-dashoffset: 75;
    }
}

.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.main-text{
    padding-top: 90px;
    margin-top: 60px;
    margin-inline: 150px;
}

.main-text h2{
    text-align: center;
    font-size: 60px;
    line-height: 4;
}

.main-text h2 span{
    color: #0ef;
}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    gap: 20px;
}

.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(29, 210, 255, 0.637),rgba(71, 243, 255, 0.753));
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: column;
    text-align: center;
    padding: 0px 40px;
    transition: height 0.5s;
}

.layer h5{
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p{
    color: black;
    font-size: 16px;
    line-height: 1.8;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding-inline: 10px;
    margin-inline: 10px;
}

.layer i{
    color: red;
    margin-top: 20px;
    font-size: 20px;
    background: white;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img{
    transform: scale(1.1);
}

.row:hover .layer{
    height: 100%;
}

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 170px;
    padding-left: 30px;
    margin-top: 130px;
    margin-inline: 130px;
}

.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span{
    color: #0ef;
}

.contact-text h4{
    margin: 15px 0px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.contact-text p{
    color: lightgray;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 32px;
}

.contact-list{
    margin-bottom: 48px;
}

.contact-list li{
    margin-bottom: 10px;
    display: block;
}

.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icons a{
    display: inline-block;
}

.contact-icons i{
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid #0ef;
    border-radius: 50%;
    color: #0ef;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 15px 30px 0px;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.contact-icons i:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(129, 232, 240);
    box-shadow: 0 0 20px #0ef;
}

.contact-form form{
    position: relative;
}

.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background-color: #1b2940;
    color: white;
    border: 1px solid #0ef;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.contact-form input::placeholder{
    color: #b8c7d9;
}

.contact-form textarea{
    resize: none;
    height: 220px;
}

.contact-form textarea::placeholder{
    color: #b8c7d9;
}

.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 10px #0ef;
}

.contact-form form .send:hover{
    box-shadow: 0 0 20px #0ef;
    cursor: pointer;
}

.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0px;
    background-color: #051129;
    border-top: 1px solid #0ef;
    font-weight: 300;
    margin-top: 70px;
}

.top{
    position: fixed;
    bottom: 33.5px;
    right: 33.5px;
}

.top i{
    color: black;
    background: #0ef;
    font-size: 20px;
    width: 30px;
    height: 35px;
    padding: 8px 8px;
    border-radius: 8px;
}