*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 1720px;
    height: auto;
    justify-items: center;
    position: relative;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product{
    width: 400px;
    height: auto;
    margin-block: 30px;
}

.product > img{
    width: 315px;
    height: 350px;
}

.product > h4{
    font-size: 20px;
}

.product > p{
    padding-block: 10px;
    color: rgb(112, 110, 110);
    font-weight: 900;
}